<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}}</title>
		<style>
			p{
				color:red;
			}
		</style>
    </head>
    <body>
		<h3>Form Upload</h3>
		<br/>
		<form action="/example/upload-multiple-post" method="post" enctype="multipart/form-data">
			<input type="hidden" name="_csrf" value="{{.csrf_token}}" />
			<table border="0">
				<tr>
					<td>Image 1 <p></p></td>
					<td>:</td>
					<td><input type="file" name="images[]" placeholder="Image 1"/></td>
				</tr>
				<tr>
					<td>Image 2 <p></p></td>
					<td>:</td>
					<td><input type="file" name="images[]" placeholder="Image 2"/></td>
				</tr>
				<tr>
					<td>Image 3 <p></p></td>
					<td>:</td>
					<td><input type="file" name="images[]" placeholder="Image 3"/></td>
				</tr>
				<tr>
					<td><input type="submit" name="save" value="Simpan"/></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</form>
    </body>
</html>
